In [1]:
import pandas as pd
travel_csv = "Data/Trips_by_Distance.txt"
travel_df = pd.read_csv(travel_csv)

In [2]:
travel_df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,2019/01/21,48.0,TX,48347.0,Nacogdoches County,12059.0,53451.0,215056.0,51075.0,60718.0,26178.0,26156.0,30634.0,12276.0,4457.0,3265.0,230.0,67.0
1,County,2019/01/21,48.0,TX,48349.0,Navarro County,7986.0,41428.0,166879.0,37369.0,42521.0,18763.0,20223.0,24536.0,13359.0,8008.0,1583.0,390.0,127.0
2,County,2019/01/21,48.0,TX,48351.0,Newton County,1857.0,11847.0,46099.0,12963.0,9900.0,3869.0,5403.0,6293.0,4961.0,2152.0,471.0,50.0,37.0
3,County,2019/01/21,48.0,TX,48353.0,Nolan County,3120.0,11586.0,46459.0,12885.0,16958.0,2476.0,3966.0,3976.0,2839.0,2564.0,700.0,85.0,10.0
4,County,2019/01/21,48.0,TX,48355.0,Nueces County,60909.0,300249.0,1287432.0,371685.0,352043.0,163265.0,189574.0,143978.0,40838.0,12865.0,10648.0,1376.0,1160.0

In [31]:
travel_df["DateNew"] = travel_df["Date"]
travel_df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,DateNew
0,County,2019/01/21,48.0,TX,48347.0,Nacogdoches County,12059.0,53451.0,215056.0,51075.0,60718.0,26178.0,26156.0,30634.0,12276.0,4457.0,3265.0,230.0,67.0,2019/01/21
1,County,2019/01/21,48.0,TX,48349.0,Navarro County,7986.0,41428.0,166879.0,37369.0,42521.0,18763.0,20223.0,24536.0,13359.0,8008.0,1583.0,390.0,127.0,2019/01/21
2,County,2019/01/21,48.0,TX,48351.0,Newton County,1857.0,11847.0,46099.0,12963.0,9900.0,3869.0,5403.0,6293.0,4961.0,2152.0,471.0,50.0,37.0,2019/01/21
3,County,2019/01/21,48.0,TX,48353.0,Nolan County,3120.0,11586.0,46459.0,12885.0,16958.0,2476.0,3966.0,3976.0,2839.0,2564.0,700.0,85.0,10.0,2019/01/21
4,County,2019/01/21,48.0,TX,48355.0,Nueces County,60909.0,300249.0,1287432.0,371685.0,352043.0,163265.0,189574.0,143978.0,40838.0,12865.0,10648.0,1376.0,1160.0,2019/01/21

In [32]:
travel_df.sort_values(by=["Date"])
travel_df["Date"].nunique()
travel_df.dtypes

Level                              object
Date                               object
State FIPS                        float64
State Postal Code                  object
County FIPS                       float64
County Name                        object
Population Staying at Home        float64
Population Not Staying at Home    float64
Number of Trips                   float64
Number of Trips <1                float64
Number of Trips 1-3               float64
Number of Trips 3-5               float64
Number of Trips 5-10              float64
Number of Trips 10-25             float64
Number of Trips 25-50             float64
Number of Trips 50-100            float64
Number of Trips 100-250           float64
Number of Trips 250-500           float64
Number of Trips >=500             float64
DateNew                            object
dtype: object

In [19]:
travel_df.to_datetime(travel_df.Series(['05/23/2005']), format="%m/%d/%Y")

Level                              object
Date                               object
State FIPS                        float64
State Postal Code                  object
County FIPS                       float64
County Name                        object
Population Staying at Home        float64
Population Not Staying at Home    float64
Number of Trips                   float64
Number of Trips <1                float64
Number of Trips 1-3               float64
Number of Trips 3-5               float64
Number of Trips 5-10              float64
Number of Trips 10-25             float64
Number of Trips 25-50             float64
Number of Trips 50-100            float64
Number of Trips 100-250           float64
Number of Trips 250-500           float64
Number of Trips >=500             float64
dtype: object

In [34]:
travel_df["DateNew"]: pd.to_datetime(pd.Series(["2019/01/21"]), format="%y/%m/%d")

ValueError: time data '2019/01/21' does not match format '%y/%m/%d' (match)